.topbar-live-search .dropdown-menu
{
inset: 2em auto auto 0px !important;
margin: 0px;
  margin-top: 0px;
transform: unset !important;

width:400px !important;
left: 0em !important;
top: 2.7em !important;
}


.live-search-bottom-border
{
	
	border: 1px solid #B4B4B4;
}


.live-search-list .btn,.live-search-list .profile-name
{
	
	color:#000;
	font-weight: 500;
font-size: 15px !important;
}


@media(min-width:1128px)
{
	.topbar-live-search .dropdown-menu
{
	max-width:100% !important;
}
	
}


@media(max-width:991px)
{
	.topbar-live-search .dropdown-menu
{
	width:550px !important;
	max-width:100% !important;
}
	
}


@media(max-width:767px)
{
	.topbar-live-search .dropdown-menu
{
	width:90% !important;
	max-width:100% !important;
	left: 2em !important;
	border-radius:10px !important;
	top: 4em !important;

}
	
}